body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #dadae0;
}

body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}
h1, h2, h3, h4 {
  color: #333;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.button {
  display: inline-block;
  padding: 10px 20px;
  margin: 10px 0;
  background-color: #4CAF50;
  color: #fff;
  text-align: center;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.button:hover {
  background-color: #45a049;
}

.card {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  margin: 20px 0;
  padding: 20px;
}

input, select {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
}

ul {
  list-style: none;
  padding: 0;
}

ul li {
  padding: 10px 0;
  
  box-sizing: border-box;
}

ul li:last-child {
  border-bottom: none;
}

nav {
  height: 100%;
  width: 250px;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #252525;
  padding-top: 5px;
}

nav ul {
  list-style-type: none;
  padding: 0;
}

nav ul li {
  padding: 8px;
  text-align: left;
}

nav ul li a {
  color: white;
  text-decoration: none;
  display: block;
  padding: 20px;
}

nav ul li a:hover {
  background-color: #0f33d6;
}

.main-content {
  margin-left: 260px; 
  padding: 20px;
}


/* Checkout */
.checkout-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin: 20px;
}

.order-summary, .customer-details {
  flex: 1;
  min-width: 300px; 
}

.order-summary ul {
  list-style: none;
  padding: 0;
}

.order-summary ul li {
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

.order-summary ul li:last-child {
  border-bottom: none;
}

form {
  display: flex;
  flex-direction: column;
}

form input {
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

form button {
  padding: 10px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

form button:hover {
  background-color: #45a049;
}


/* Menu category visibility */
.menu-category {
  display: none;
  margin-top: 5px; 
}

.menu-category.active {
  display: flex;
  flex-direction: column;
}

.category-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1px;
}

.category-buttons-right {
  display: flex;
  gap: 10px;
}

.category-names {
  padding: 5px 10px;
  background-color: #4CAF50;
  color: rgb(232, 226, 226);
  border: none;
  border-radius: 5px;
  cursor: pointer;

}

.category-buttons-right button {
  padding: 5px 10px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.category-buttons-right button:hover {
  background-color: #45a049;
}

.menu-items {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.menu-item {
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 20px;
  width: 200px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.menu-item h3 {
  margin: 0 0 10px;
}

.menu-item p {
  margin: 5px 0;
}

.menu-item .item-buttons {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.menu-item button {
  flex: 1;
  padding: 10px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 10px;
  
}

.menu-item .item-buttons button:hover {
  background-color: #45a049;
}


