/* CheckoutPage.css */
.checkout-container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
  }
  
  .order-summary, .customer-details {
    width: 45%;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #fff;
  }
  
  h2 {
    margin-bottom: 20px;
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  input, select {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  button {
    padding: 10px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin:10px;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  